.thanks{
    margin-left: 310px;
    margin-top: 100px;
    font-size: 20px;
}
.Hi{
    margin-left: 600px;
    margin-top: 20px;
    font-weight: bold;
}
.bible{
    width: 700px;
    height: 400px;
    margin-left: 200px;
    margin-top: 100px;
}